---
import '../styles/style_home.css';
---
<html lang="en-EN">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>D4VGFX Lab | Home</title>
        <link rel="icon" href="/favicon.png" type="image/png">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    </head>
        <body>
            <nav>
                <div>
                    <a href="/">
                        <img src="assets/nav.png" alt="D4VGFX Lab" class="logo-nav">
                    </a>
                </div>
                <div class="navlinks">
                    <a href="/vision-mission/">Vision & Mission</a>
                    <a href="/contact-us/">Contact Us</a>
                    <a href="/shop-now/">Shop Now</a>
                </div>
            </nav>
            <section class="first">
                <div class="content-1"> 
                    <h1>D4VGFX Lab</h1>
                    <h2>At D4VGFX Lab, I turn ideas into eye-catching designs with over 3 years of hands-on experience in branding, photo-retouching and custom graphics. Let’s craft your next standout project—clean, creative and irresistibly you.</h2>
                    <img src="public/assets/image1.svg" alt="graphicdesigner" class="image">
                </div>
                <div>
                    <button class="btn1">See More</button>
                    <button class="btn2">Explore our Shop</button>
                </div>
            </section>
            <section class="second">
                <div class="content-2"> 
                    <h1>Talk. Create. Repeat.</h1>
                    <h2>Getting in touch with D4VGFX Lab? It couldn’t be easier. Whether you prefer a quick DM, an old-school email, or even a call — we’re always just a tap away. We're not just here to listen — we’re here to collaborate. Every project starts with a conversation and ends with a creation you’ll love. No stress, no waiting games. Just pure, seamless communication and 100% client satisfaction. Let’s build your vision, together.</h2>
                    <img src="public/assets/image1.svg" alt="graphicdesigner" class="image">
                </div>
                <div>
                    <button class="btn3">See More</button>
                    <button class="btn4">Contact Us</button>
                </div>
            </section>
            <section class="third">
                <div class="content-3"> 
                    <h1>D4VGFX Lab</h1>
                    <h2>At D4VGFX Lab, I turn ideas into eye-catching designs with over 3 years of hands-on experience in branding, photo-retouching and custom graphics. Let’s craft your next standout project—clean, creative and irresistibly you.</h2>
                    <img src="public/assets/image1.svg" alt="graphicdesigner" class="image">
                </div>
                <div>
                    <button class="btn5">Request a personalized quote</button>
                    <button class="btn6">See our products</button>
                </div>
            </section>
            <section class="fourth">
                <div class="content-4"> 
                    <h1>D4VGFX Lab</h1>
                    <h2>At D4VGFX Lab, I turn ideas into eye-catching designs with over 3 years of hands-on experience in branding, photo-retouching and custom graphics. Let’s craft your next standout project—clean, creative and irresistibly you.</h2>
                    <img src="public/assets/image1.svg" alt="graphicdesigner" class="image">
                </div>
                <div>
                    <button class="btn7">See More</button>
                </div>
            </section>
            <footer>
            <h3>ciao</h3>
            </footer>