---
import '../../../styles/style_single.css';
---
<html lang="en-EN">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>D4V_GFX | Products</title>
        <link rel="icon" href="/assets/logo.png" type="image/png">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    </head>
        <body>
            <nav>
                <div>
                    <a href="/">
                        <img src="/assets/logo.png" alt="D4VGFX" class="logonav">
                    </a>
                </div>
                <div class="navlinks">
                    <a href="/d4vgfx-lab/">D4VGFX Lab</a>
                    <a href="/vision/">Vision</a>
                    <a href="/products/">Products</a>
                    <a href="/payments/">Payments</a>
                    <a href="/portfolio/">Portfolio</a>
                    <a href="/support/">Support</a>
                </div>
            </nav>
            <section class="section-1">
                <div class="section-1-body">
					<p class="text-5">Single Packs</p>
                    <p class="text-6">D4V_GFX is not just graphics. We build identity through innovative design, precision, and passion.</p>
					<div class="products">
						<a href="/products/single-packs/logo-design/" class="click-card">
							<div class="card-1">
								<img src="/assets/img1.png" alt="Logo Design" class="img">
								<p class="description">Logo Design</p>
								<div class="btn-group-3">
									<a href="/products/single-packs/logo-design/" class="inner-btn-1">Shop Now</a>
								</div>
							</div>
						</a>
						<a href="/products/bundle-packs/business-card/" class="click-card">
							<div class="card-2">
								<img src="/assets/img2.png" alt="Business Card" class="img">
								<p class="description">Business Card</p>
								<div class="btn-group-4">
									<a href="/products/bundle-packs/business-card" class="inner-btn-2">Shop Now</a>
								</div>
							</div>
						</a>
                        <a href="/products/single-packs/flyers/" class="click-card">
							<div class="card-3">
								<img src="/assets/img1.png" alt="Flyers" class="img">
								<p class="description">Flyers</p>
								<div class="btn-group-5">
									<a href="/products/single-packs/flyers/" class="inner-btn-3">Shop Now</a>
								</div>
							</div>
						</a>
						<a href="/products/bundle-packs/posters/" class="click-card">
							<div class="card-4">
								<img src="/assets/img2.png" alt="Posters" class="img">
								<p class="description">Posters</p>
								<div class="btn-group-6">
									<a href="/products/bundle-packs/posters/" class="inner-btn-4">Shop Now</a>
								</div>
							</div>
						</a>
                        <a href="/products/single-packs/social-media-pack/" class="click-card">
							<div class="card-5">
								<img src="/assets/img1.png" alt="Social Media Pack" class="img">
								<p class="description">Social Media Pack</p>
								<div class="btn-group-7">
									<a href="/products/single-packs/social-media-pack/" class="inner-btn-5">Shop Now</a>
								</div>
							</div>
						</a>
						<a href="/products/bundle-packs/custom-single-pack/" class="click-card">
							<div class="card-6">
								<img src="/assets/img2.png" alt="Custom Single Pack" class="img">
								<p class="description">Custom Single Pack</p>
								<div class="btn-group-8">
									<a href="/products/bundle-packs/custom-single-pack/" class="inner-btn-6">Shop Now</a>
								</div>
							</div>
						</a>
					</div>
                </div>
                <hr class="line-3">
                <p class="text-7">What we offer?</p>
                <div class="prod-list">
                    <a>Single Packs</a>
                </div>
                <div class="prods">
                    <div class="list">
                        <ul>
                            <li><a href="#">Logo Design</a></li>
                            <li><a href="#">Business Card</a></li>
                            <li><a href="#">Flyers</a></li>
                            <li><a href="#">Posters</a></li>
                            <li><a href="#">Social Media Pack</a></li>
                            <li><a href="#">Custom Single Pack</a></li>
                        </ul>
                    </div>
                </div>
                <div class="prod-list">
                    <a>Bundle Packs</a>
                </div>
                <div class="prods">
                    <div class="list">
                        <ul>
                            <li><a href="#">Logo + Business Card</a></li>
                            <li><a href="#">Logo + Flyers/Posters</a></li>
                            <li><a href="#">Logo + Social Media Pack</a></li>
                            <li><a href="#">Business Card + Flyers/Posters</a></li>
                            <li><a href="#">Business Card + Social Media Pack</a></li>
                            <li><a href="#">Business Card + Flyers/Posters + Social Media Pack</a></li>
                            <li><a href="#">Flyers + Posters</a></li>
                            <li><a href="#">Flyers + Social Media Pack</a></li>
                            <li><a href="#">Flyers + Posters + Social Media PAck</a></li>
                            <li><a href="#">Posters + Social Media Pack</a></li>
                            <li><a href="#">Full Bundle Pack (Logo + Business Card, + Flyers + Posters + Social Media Pack)</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <footer>
                <p class="text-footer-top">D4VGFX Lab is a digital studio specializing in custom graphic design and the development of visual solutions for businesses, individuals, and startups. We provide professional services ranging from logo and business card creation to flyers, posters, and complete web interface (UI) designs. Our mission is to transform ideas into unique, modern, and effective visual projects, ensuring quality, attention to detail, and full respect for the client’s needs. Choose D4VGFX Lab for a graphic design experience that combines creativity, technical skill, and passion.</p>
                <hr class="line-1">
                <div class="footer-columns">
                    <div class="footer-column">
                        <p>Shop and Learn</p>
                        <ul>
                            <li><a href="#">Shop</a></li>
                            <li><a href="#">Digital Services</a></li>
                            <li><a href="#">Offers</a></li>
                        </ul>
                    </div>
                    <div class="footer-column">
                        <p>About D4VGFX Lab</p>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Our Mission</a></li>
                            <li><a href="#">Team</a></li>
                        </ul>
                    </div>
                    <div class="footer-column">
                        <p>D4VGFX Lab Values</p>
                        <ul>
                            <li><a href="#">Sustainability</a></li>
                            <li><a href="#">Innovation</a></li>
                            <li><a href="#">Community</a></li>
                        </ul>
                    </div>
                    <div class="footer-column">
                        <p>Assistance</p>
                        <ul>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Support</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-bottom-div">
                     <p>More ways to shop: <a href="mailto:info@d4vgfx.com" target="_blank" rel="noopener noreferrer">Write us an email</a> or <a href="https://wa.me/393934740930" target="_blank" rel="noopener noreferrer">contact us on WhatsApp</a>.</p>
                </div>
                <hr class="line-2">
                <div class="footer-copyright">
                    <span>Copyright © 2025 D4VGFX Lab. All rights reserved.</span>
                    <a href="#">Privacy Policy</a>
                    <span>|</span>
                    <a href="#">Use of Cookies</a>
                    <span>|</span>
                    <a href="#">Terms of Use</a>
                    <span>|</span>
                    <a href="#">Sales and Refunds</a>
                    <span>|</span>
                    <a href="#">Legal</a>
                    <span>|</span>
                    <a href="#">Site Map</a>
                </div>
            </footer>
        </body>
</html>